.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin: auto;
}
.App .form {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.App .form > * {
    margin: 0 1rem;
}
h4 {
    max-width: 50vw;
}

@media screen and (orientation: portrait) {
    h4 {
        max-width: 90vw;
    }
    .App .form {
        flex-direction: column;
    }
    .App .form > * {
        margin: 1rem 1rem;
    }
}
